@import "./_variables.scss";

$radioMarginPadding: .5rem 1.1rem;
$inputWidthDesktop: 22.5vmax;

.calcContainer {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    width: 100%;
    .upperDiv {
        display: flex;
        justify-content: space-between;
        .inputsContainer {
            display: flex;
            padding: 0 2.5vmax;
            margin-left: 4.25vw;
            flex-direction: column;
        }
    }
    @media (max-width: $tablet-bp) {
        .calcContainer {
            
        }
        .upperDiv {
            justify-content: space-evenly;
            .inputsContainer {margin: 0; padding: 2.5vmax 0;}
        }
    }
    @media (max-width: $mobile-bp) {
        .upperDiv {flex-direction: column;}
    }
    label {
        margin: 0.5rem 0;
        font-size: 1.1rem;
    }
    input {
        font-size: 1.1rem;
        padding: .8vmax 1.125vmax;
        width: $inputWidthDesktop;
        max-width: $inputWidthDesktop;
        border-radius: 4px;
        border: #999 2px solid;
        outline: 0;
    }
    input:focus {
        border: $primary-clr 2px solid;
    }
    @media (max-width: $tablet-bp) {
        input {
            min-width: 100%;
            max-width: 100%;
        }
    }
    .valueConvertedToCoin {
        font-size: .9rem;
        margin: .5rem 0;
        font-style: italic;
        color: #313131;
        max-width: fit-content;
        
    }
}

.coinOptionsContainer {
    display: flex;
    width: 100%;
    padding: 2.5vmax 0;
    flex-wrap: wrap;
    .radioContainer {
        display: flex;
        margin: 0 1.1rem .5rem 0;
        // border: 1px solid red; //debug
        label {
            cursor: pointer;
            // padding: .5rem 0;
        }
        label::first-letter {
            text-transform: capitalize;
        }
        input[type=radio] {
            opacity: 0; display: none; margin: 0; outline: none;
            
        }
        input[type="radio"]:checked + span {
            background-color: $primary-clr;
            color: #fcfcfc;
            
        }
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #ececec;
            width: 100%; height: 100%;
            border-radius: 5px;
            font-size: 1.1rem;
            word-break: keep-all;
            padding: $radioMarginPadding;
            img {
                max-width: 1.1rem;
                max-height: 1.1rem;
                margin: 0 .5rem;
            }
            p {
                word-break: keep-all;
            }
            p:first-letter {text-transform: uppercase;}
        }
    }
    
}

.gainsLossesContainer {
    display: flex;
    flex-direction: column;
    padding: 2.5vmax 0;
    width: 100%;
    max-width: 100%;
    div {padding: 1.25vmin 0}
    div:first-of-type {margin-right: 4.25vw}
    .gainsLosses {
        font-size: 2.8rem;
        font-weight: 700;
        padding: .5rem 0;
    }
    .totalReturns {
        font-size: 1.8rem;
        padding: .5rem 0;
           
    }
}

