@import "./_variables.scss";

$radioMarginPadding: .5rem 1.1rem;

.calcContainer {
    display: flex;
    flex-direction: column;
    label {
        margin: 0.8rem 0;
        font-size: 1.25rem;
    }
    input {
        font-size: 1.25rem;
        padding: 1.75vmax 1.25vmax;
        max-width: fit-content;
    }
    .valueConvertedToCoin {
        font-size: .9rem;
        margin: .5rem 0;
        font-style: italic;
        color: #313131;
    }
}

.coinOptionsContainer {
    display: flex;
    width: 100%;
    padding: 4.25vmax 0;
    flex-wrap: wrap;
    .radioContainer {
        display: flex;
        min-width: fit-content; 
        margin: 0 1.1rem .5rem 0;
        // border: 1px solid red; //debug
        label {
            cursor: pointer;
            // padding: .5rem 0;
        }
        label::first-letter {
            text-transform: capitalize;
        }
        input[type=radio] {
            opacity: 0; display: none; margin: 0; outline: none;
            
        }
        input[type="radio"]:checked + span {
            background-color: $primary-clr;
            color: #fcfcfc;
            
        }
        span {
            background: #ececec;
            width: 100%; height: 100%;
            padding: $radioMarginPadding;
            border-radius: 5px;
            
        }
    }
    
}

.gainsLossesContainer {
    display: flex;
    flex-direction: column;
    padding: 2.5vmax 0;
    width: 100%;
    div {padding: 2.5vmax 0}
    div:first-of-type {margin-right: 4.25vw}
    .gainsLosses {
        font-size: 2.8rem;
        font-weight: 700;
        padding: .5rem 0;
    }
    .totalReturns {
        font-size: 1.8rem;
        padding: .5rem 0;
           
    }
}