@import "./_variables.scss";

$radioMarginPadding: .5rem 1.1rem;
.coinOptionsContainer {
    display: flex;
    width: 100%;
    padding: 2.5vmax 0;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .radioContainer {
        display: flex;
        min-width: fit-content; 
        margin: 1.1rem 0;
        // border: 1px solid red; //debug
        label {
            cursor: pointer;
            padding: .5rem 0;

        }
        label::first-letter {
            text-transform: capitalize;
        }
        input[type=radio] {
            opacity: 0; display: none; margin: 0; outline: none;

        }
        input[type="radio"]:checked + span {
          background-color: $primary-clr;
          color: #fcfcfc;
          
        }
        span {
            background: #ececec;
            width: 100%; height: 100%;
            padding: $radioMarginPadding;
            border-radius: 5px;

        }
    }
    
}