.container {
  min-height: 100vh;
  padding: 0 5vw;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  width: 100%;
  padding: 0 10vw;
  border: 1px solid red; //debug
}