.logo {
    max-width: 15vmax;
    min-width: 25vmin;
    cursor: pointer;
}
@media (max-width: 480px) {
    .logo {max-width: 40vw;}
}
.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2.5vh 0;
    // border: 1px solid red; //debug
    nav {
        a {
            font-weight: 600;
            font-size: 1.25rem;
            margin: 0 1.75vmin;
        }
    }
}